*{
    font-family: tahoma;
    margin:25px;
}
body {
    background-color: #D3CFCE; 
}
h1 {
padding: 15px;
border: 10px;
color: red;
text-align: center;
text-transform: uppercase;
text-decoration: underline;
}
p {
    color: rgb(0, 0, 0);
    text-align: justify;
    border-radius: 25px;
    border-style: solid;
}
img {
    width: 41%;
}